name: PR Checks

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
    paths:
      - 'src/olmo_core/**'
      - '!src/olmo_core/internal/**'

jobs:
  changelog:
    name: CHANGELOG
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Check that CHANGELOG has been updated
      run: |
        echo "We keep a CHANGELOG to document additions, changes, and fixes between releases."
        echo "If this step fails that means you've made changes to source code but haven't updated the CHANGELOG.md file."
        echo "It's OKAY to ignore this error in some cases. For example, if:"
        echo "- Your changes only affect an internal (non-public) component."
        echo "- Your changes only affect a feature that hasn't been released yet, and that feature has already been described in the CHANGELOG."
        echo "- Your changes don't affect the behavior of the library, such as fixing a typo in the documentation."
        echo ""
        git diff --name-only $(git merge-base origin/main HEAD) | grep '^CHANGELOG.md$' >/dev/null && echo "Thanks for helping keep our CHANGELOG up-to-date!"
